<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="start" class="navbar-item" href="/">Playlist App</a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">

      <a id="admin" class="navbar-item" href="/admin">Admin</a>
      <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
      <a id="about" class="navbar-item" href="/about">About</a>
      <a id="logout" class="navbar-item" href="/logout">Logout</a>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add click event listener on each "navbar-burger" element
    navbarBurgers.forEach((el) => {
      el.addEventListener('click', () => {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        const target = el.dataset.target;
        const targetElement = document.getElementById(target);

        el.classList.toggle('is-active');
        targetElement.classList.toggle('is-active');
      });
    });
  });
</script>
