#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<div class="content box dashboard">
    <div>
        <h1 class="title">
            ${station.name}
        </h1>
        <span class="icon">
            <a href="/stations/${station.id}" class="icon has-text-primary">
                <i class="fas fa-folder">view</i>
            </a>
        </span>
        <a href="/dashboard/deleteStation/${station.id}" class="icon has-text-danger">
            <i class="fas fa-trash">trash</i>
        </a>
    </div>

    <div class="dashboard-child">
        <div class="card purple-bg">
            <div class="card-content">
                <div>Temperature Trend</div>
                <div>${station.trend}</div>
                <div>Max Temperature: ${station.maxTemperature}</div>
                <div>Min Temperature: ${station.minTemperature}</div>
                <div class="trend-icon">
                    <i class="fas fa-arrow-up has-text-success" style="display: ${station.trend == 'Rising' ? 'inline' : 'none'}"></i>
                    <i class="fas fa-arrow-down has-text-danger" style="display: ${station.trend == 'Dropping' ? 'inline' : 'none'}"></i>
                    <i class="fas fa-circle has-text-info" style="display: ${station.trend != 'Rising' && station.trend != 'Dropping' ? 'inline' : 'none'}"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-child">
        <div class="card orange-bg">
            <div class="card-content">
                <div>Wind Trend</div>
                <div>${station.windTrend}</div>
                <div>Max Wind: ${station.maxWindSpeed}</div>
                <div>Min Wind: ${station.minWindSpeed}</div>
                <div class="trend-icon">
                    <i class="fas fa-arrow-up has-text-success" style="display: ${station.windTrend == 'Rising' ? 'inline' : 'none'}"></i>
                    <i class="fas fa-arrow-down has-text-danger" style="display: ${station.windTrend == 'Dropping' ? 'inline' : 'none'}"></i>
                    <i class="fas fa-circle has-text-info" style="display: ${station.windTrend != 'Rising' && station.windTrend != 'Dropping' ? 'inline' : 'none'}"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-child">
        <div class="card purple-bg">
            <div class="card-content">
                <div>Pressure Trend</div>
                <div>${station.pressureTrend}</div>
                <div>Max Pressure: ${station.maxPressure}</div>
                <div>Min Pressure: ${station.minPressure}</div>
                <div class="trend-icon">
                    <i class="fas fa-arrow-up has-text-success" style="display: ${station.pressureTrend == 'Rising' ? 'inline' : 'none'}"></i>
                    <i class="fas fa-arrow-down has-text-danger" style="display: ${station.pressureTrend == 'Dropping' ? 'inline' : 'none'}"></i>
                    <i class="fas fa-circle has-text-info" style="display: ${station.pressureTrend != 'Rising' && station.pressureTrend != 'Dropping' ? 'inline' : 'none'}"></i>
                </div>
            </div>
        </div>
    </div>

</div>
#{/list}
#{addstation /}