#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{menu id:"dashboard"/}
#{list items:stations, as:'station'}
<div class="content box dashboard container">
    <div>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>${station.name}</h1>
                        <img src="../../public/images/location.png"/>
                    </div>
                    <div class="media-content">
                        <p class="subtitle is-6">Lat: ${station.latitude}</p>
                        <p class="subtitle is-6">Lng: ${station.longitude}</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h1>Weather</h1>
                    <div class="weather-icon">
                        #{if station.latestCode == 100}
                        <img alt="clear" src="../../public/images/sun.png"/>
                        #{/if}
                        #{if station.latestCode == 200}
                        <img alt="partial clouds" src="../../public/images/cloud.png"/>
                        #{/if}
                        #{if station.latestCode == 300}
                        <img alt="cloudy" src="../../public/images/cloud-nosun.png"/>
                        #{/if}
                        #{if station.latestCode == 400}
                        <img alt="light showers" src="../../public/images/cloudy.png"/>
                        #{/if}
                        #{if station.latestCode == 500}
                        <img alt="heavy showers" src="../../public/images/rain.png"/>
                        #{/if}
                        #{if station.latestCode == 600}
                        <img alt="rain" src="../../public/images/rain.png"/>
                        #{/if}
                        #{if station.latestCode == 700}
                        <img alt="snow" src="../../public/images/snow.png"/>
                        #{/if}
                        #{if station.latestCode == 800}
                        <img alt="thunder" alt="snow" src="../../public/images/lightning.png"/>
                        #{/if}
                        #{else}
                        #{/else}
                </div>
            </div>
        </div>
<!--        -->
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Temp</h1>
                        <img src="../../public/images/temp.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>
                    <div>C ${station.latestTemperature}</div>
                    <div>F ${station.fLatestTemperature}</div>
                    <div>Max: ${station.maxTemperature}</div>
                    <div>Min: ${station.minTemperature}</div>
                        </div>
                    <div class="trend-icon">
                        <i class="fas fa-arrow-up has-text-danger" style="display: ${station.trend == 'Rising' ? 'inline' : 'none'}"></i>
                        <i class="fas fa-arrow-down has-text-success" style="display: ${station.trend == 'Dropping' ? 'inline' : 'none'}"></i>
                        <!--                    <i class="fas fa-circle has-text-info" style="display: ${station.trend != 'Rising' && station.trend != 'Dropping' ? 'inline' : 'none'}"></i>-->
                    </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Wind</h1>
                        <img src="../../public/images/wind-image.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>

                            <div class="wind-info">
                                #{if station.latestWindSpeedValue == 1}
                                <div>Calm</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 2}
                                <div>Light Air</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 3}
                                <div>Light Breeze</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 4}
                                <div>Moderate Breeze</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 5}
                                <div>Fresh Breeze</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 6}
                                <div>Strong Breeze</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 7}
                                <div>Near Gale</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 8}
                                <div>Gale</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 9}
                                <div>Severe Gale</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 10}
                                <div>Strong Storm</div>
                                #{/if}
                                #{if station.latestWindSpeedValue == 11}
                                <div>Violent Storm</div>
                                #{/if}
                                #{else}
                                #{/else}
                            </div>
                            <div>Feels like:</div>
                    <div>${station.windChill}</div>
                    <div>Max: ${station.maxWindSpeed}</div>
                    <div>Min: ${station.minWindSpeed}</div>
                        </div>
                    <div class="trend-icon">
                        <i class="fas fa-arrow-up has-text-danger" style="display: ${station.trend == 'Rising' ? 'inline' : 'none'}"></i>
                        <i class="fas fa-arrow-down has-text-success" style="display: ${station.trend == 'Dropping' ? 'inline' : 'none'}"></i>
                        <!--                    <i class="fas fa-circle has-text-info" style="display: ${station.trend != 'Rising' && station.trend != 'Dropping' ? 'inline' : 'none'}"></i>-->
                    </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Pressure</h1>
                        <img src="../../public/images/press-icon.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>
                    <div>${station.latestPressure} hpa</div>
                    <div>Max: ${station.maxPressure}</div>
                    <div>Min: ${station.minPressure}</div>
                        </div>
                    <div class="trend-icon">
                        <i class="fas fa-arrow-up has-text-danger" style="display: ${station.pressureTrend == 'Rising' ? 'inline' : 'none'}"></i>
                        <i class="fas fa-arrow-down has-text-success" style="display: ${station.pressureTrend == 'Dropping' ? 'inline' : 'none'}"></i>
                        <!--                        <i class="fas fa-circle has-text-info" style="display: ${station.pressureTrend != 'Rising' && station.pressureTrend != 'Dropping' ? 'inline' : 'none'}"></i>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        end of card-->
        <span class="icon">
         <a href="/stations/${station.id}" >
            <!--                <i class="fas fa-folder">view</i>-->
             <!--                <i class="fas fa-sharp fa-light fa-folder-open fa-sm"></i>-->
            <i class="fas fa-sharp fa-light fa-folder-open fa-lg" style="color: #302850;"></i>
         </a>
      </span>
        <span class="icon">
      <a href="/dashboard/deleteStation/${station.id}" >
      <i class="fas fa-trash fa-lg" style="color: #302850;"></i>
      </a>
      </span>
    </div>
</div>
#{/list}
#{addstation /}