#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<div class="content box dashboard">
    <div>
        <h1 class="title">
            ${station.name}
        </h1>
    <span class="icon">
    <a href="/stations/${station.id}" class="icon has-text-primary">
        <i class="fas fa-folder">view</i>
    </a></span>
        <a href="/dashboard/deleteStation/${station.id}" class="icon has-text-danger">
            <i class="fas fa-trash">trash</i>
        </a></div>

    <div class="dashboard-child">
    <div>temperature trend ${station.trend}</div>
    <div>max temperature ${station.maxTemperature}</div>
    <div>min temperature ${station.minTemperature}</div>
        <div class="trend-icon">
            <i class="fas fa-arrow-up has-text-success" style="display: ${station.trend == 'Rising' ? 'inline' : 'none'}"></i>
            <i class="fas fa-arrow-down has-text-danger" style="display: ${station.trend == 'Dropping' ? 'inline' : 'none'}"></i>
            <i class="fas fa-circle has-text-info" style="display: ${station.trend != 'Rising' && station.trend != 'Dropping' ? 'inline' : 'none'}"></i>
        </div>
    </div>
    <div class="dashboard-child">
        <div>wind trend ${station.windTrend}</div>
        <div>max wind ${station.maxWindSpeed}</div>
        <div>min wind ${station.minWindSpeed}</div>
        <div class="trend-icon">
            <i class="fas fa-arrow-up has-text-success" style="display: ${station.windTrend == 'Rising' ? 'inline' : 'none'}"></i>
            <i class="fas fa-arrow-down has-text-danger" style="display: ${station.windTrend == 'Dropping' ? 'inline' : 'none'}"></i>
            <i class="fas fa-circle has-text-info" style="display: ${station.windTrend != 'Rising' && station.windTrend != 'Dropping' ? 'inline' : 'none'}"></i>
        </div>
    </div>
    <div class="dashboard-child">
        <div>temperature trend ${station.pressureTrend}</div>
        <div>max temperature ${station.maxPressure}</div>
        <div>min temperature ${station.minPressure}</div>
        <div class="trend-icon">
            <i class="fas fa-arrow-up has-text-success" style="display: ${station.pressureTrend == 'Rising' ? 'inline' : 'none'}"></i>
            <i class="fas fa-arrow-down has-text-danger" style="display: ${station.pressureTrend == 'Dropping' ? 'inline' : 'none'}"></i>
            <i class="fas fa-circle has-text-info" style="display: ${station.pressureTrend != 'Rising' && station.pressureTrend != 'Dropping' ? 'inline' : 'none'}"></i>
        </div>
    </div>

<!--        #{listreadings station:station/}-->
</div>
#{/list}
#{addstation /}