<!DOCTYPE html>
<html>
<head>
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/96a4816da6.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../../public/stylesheets/main.css">
</head>
<body >
<div class="hero is-info is-small">
    <div class="hero-body ">
        <div class="container header-wrapper">
            <p class="title ">

                Welcome to the WeatherTop

            </p>

        </div>
    </div>
</div>
#{if member}
<div class="nav">
    <nav class="navbar is-info container" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/member">
                #{if member}
                ${member.firstname}
                #{/if}
                #{else}
                Please log in
                #{/else}

            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">

                <a id="admin" class="navbar-item" href="/admin">Admin</a>
                <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
                <a id="about" class="navbar-item" href="/about">About</a>
                <a id="logout" class="navbar-item" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</div>
#{/if}
#{else}

#{/else}


<section class="">

    #{doLayout /}
</section>
<footer class="footer box">
    <div class="content has-text-centered">
        <p>
            <strong>Weathertop</strong> &copy; 2023. All rights reserved.
        </p>
        <p>
            Designed with Bulma
        </p>
    </div>
</footer>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add click event listener on each "navbar-burger" element
    navbarBurgers.forEach((el) => {
      el.addEventListener('click', () => {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        const target = el.dataset.target;
        const targetElement = document.getElementById(target);

        el.classList.toggle('is-active');
        targetElement.classList.toggle('is-active');
      });
    });
  });
</script>
</body>
</html>
